<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>BookSearch</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="app">
      <div class="screen chat-screen">
      <div class="header">
        <div class="logo"><h1>BookSearch</h1> </div>
      </div>
      <div class="messages">
        <div class="message my-message">
          <div class="name">Вы</div>
          <div class="text">
            {% if searched %}
              <p>{{ searched }}</p>
            {% endif %}
          </div>
        </div>
        <div class="message other-message">
          <div class="name">Bot</div>
          <div class="text"></div>
      </div>
      </div>
      <form class="typebox" method=POST action="{% url 'search-result' %}">
        {% csrf_token %}
          <input type="text" id ="message-input" name = "searched"></input>
          <button id ="send-message">Запросить</button>
      </form>
    </div>
  </div>
  </body>
</html>
